<div class="p-12">
  <div class="mt-10 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4">
    <p class="text-white text-4xl font-semibold mb-4">Favoritos</p>
    <% @fav_movies.each do |fav| %>
      <%= render "movies/card", movie: fav.movie %>
    <% end %>
  </div>
</div>
