<div class="mt-10 p-12">
  <div class="flex justify-between">
    <p class="text-2xl text-white">Resultados para "<%= params[:query] %>"</p>
    <%= render "search/search_bar" %>
  </div>
  <div class="mt-10 grid lg:grid-cols-4 md:grid-cols-2 grid-cols-1 gap-4">
    <% @movies.each do |movie| %>
      <%= render "movies/card", movie: movie %>
    <% end %>
  </div>
</div>
