<div class="mt-10 p-12">
  <div class="grid grid-cols-4 gap-4">
    <% @best_rating_movies.each do |movie| %>
      <a href="<%= movie_path(movie) %>" class="bg-white rounded-lg p-4">
        <div class="h-48 w-full">
          <%= image_tag(movie.poster_url, class: "h-full w-full rounded-lg object-contain") %>
        </div>
        <hr class="mt-8 border-gray-400">
        <p class="mt-2 font-semibold text-2xl"><%= movie.title %></p>
        <p class="mt-1 font-medium text-lg"><%= movie.release_date.year %></p>
      </a>
    <% end %>
  </div>
</div>