<% if flash[:success] %>
  <div class="m-2 flex gap-x-1 h-8 w-fit items-center rounded bg-green-200 px-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="green" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>
    <p class="text-sm font-medium text-green-700"><%= flash[:success] %></p>
  </div>
<% elsif flash[:error] %>
  <div class="m-2 flex h-8 w-fit items-center gap-x-1 rounded bg-red-100 px-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>

    <p class="text-sm font-medium text-red-500"><%= flash[:error] %></p>
  </div>
<% elsif flash[:alert] %>
  <div class="m-2 flex h-8 w-fit items-center gap-x-1 rounded bg-red-100 px-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="red" class="size-5">
      <path stroke-linecap="round" stroke-linejoin="round" d="m9.75 9.75 4.5 4.5m0-4.5-4.5 4.5M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
    </svg>

    <p class="text-sm font-medium text-red-500"><%= flash[:alert] %></p>
  </div>
<% end %>
